main {
    display: flex;
    height: 90%;
}

figure, form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

figure {
    border-right: var(--border);
    margin-right: var(--border-margin);
}

figure div {
    position: relative;
    border: solid 1px black;
    border-radius: 100%;
    width: 30rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fig);
    background-image: linear-gradient(transparent 50%, rgba(255,255,255,.5) 50%);
    background-size: 4rem 4rem;
}


figure div h1 {
    font-size: 250%;
    text-align: center;
    color: var(--dark);
}

form {
    border-left: var(--border);
    display: flex;
    flex-direction: column;
}

form > * {
    margin-bottom: 1%;
    border-radius: 5px;
    width: 90%;
}

input, textarea {
    padding: 5px;
}

h2 {
    font-size: 200%;
    text-align: center;
    margin-bottom: 4%;
}

#submit {
    margin-top: 3%;
    padding: 1%;
}

@media screen and (max-width: 1000px) {
    figure div {
        width: 20rem;
        height: 20rem;
    }
    figure div h1 {
        font-size: 225%;
    }
}

@media screen and (max-width: 600px) {
    * {
        font-size: 10px;
    }

    main {
        display: block;
    }

    figure, form {
        width: 100%;
    }

    figure {
        border-bottom: var(--border);
        margin-bottom: var(--border-margin);
        border-right: none;
        margin-right: 0;
        padding: 5%;
    }
    
    form {
        border-top: var(--border);
        border-left: none;
        padding-top: 5%;
    }
  }