/*Reset styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
  height: 100%;
}
  
body {
  min-height: 100%;
  line-height: 1;
  font-family: sans-serif;
}
  
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}
  
input, select, option, optgroup, textarea, button, pre, code {
  font-size: 100%;
  font-family: inherit;
}
  
ol, ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
/*End of reset*/

:root {
    --light: #E3DAC9;
    --dark: #322735;
    --border-margin: 8px;
    --dark-link: #F75590;
    --light-link: #037971;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: inline;
}

.light-mode {
    color: var(--dark);
    background-color: var(--light);
    --border: solid 4px var(--dark);
    --blog-border: solid 1px var(--dark);
    --link-color: var(--light-link);
    --fig: var(--dark-link);
}

.dark-mode {
    color: var(--light);
    background-color: var(--dark);
    --border: solid 4px var(--light);
    --blog-border: solid 1px var(--light);
    --link-color: var(--dark-link);
    --fig: var(--light-link);
}

header {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    border-bottom: var(--border);
    margin-bottom: var(--border-margin);
    padding: 0 2%;
}

main {
    border-top: var(--border);
}

#light-switch {
    position: absolute;
    right: 2%;
    cursor: pointer;
}

button {
    color:aliceblue;
    background-color: black;
}

@media screen and (max-width: 600px) {
  * {
      font-size: 10px;
  }
}